@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address class="mt-2">
    Wiktor Ziębka <br />
    Młodszy programista C#
</address>

<address>
    <strong>Kontakt:</strong> <a href="mailto:slavic.financials@gmail.com">slavic.financials@gmail.com</a>
</address>