body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.TextField{
    min-height: 250px !important;
}
.InfoAlert {
    background-color: #ffe201;
}
#Recipients-error {
    color: #f80b81;
}

#Subject-error {
    color: #f80b81;
}

.privacyPoliceInfo {
    font-size: 10px;
    position: fixed;
    bottom: 0;
    background-color: #464646;
    width: 100%;
    color: lightgray;
    text-align: center;
    padding: 5px 0;
}
